.header {
	background: $off-black;
	color: white;
	margin: 0 0 $m-size 0;
	padding: $m-size 0;
}

.header__title {
	font-size: $l-size;
	margin: 0;
}

.header__subtitle {
	color: $off-white;
	font-size: 1.8rem;
	font-weight: 500;
	margin: 0;
}

@media (min-width: $desktop-breakpoint) {
	.header {
		margin: 0 0 $xl-size 0;
	}
}
